@import url('https://fonts.googleapis.com/css2?family=Cutive&display=swap');

#container {
    text-align: center;
    font-family: "Cutive", serif;
}

#sentence {
    font-size: 1.5rem;
}

#textInput {
    outline: none;
    border: none;
    border-bottom: 2px solid black;
    text-align: center;
    font-size: 1.5rem;
    font-family: "Cutive", serif;
    padding: 10px;
}